# Default ignored files
/shelf/
/workspace.xml
*.class
*.vscode
/.idea
DeliveryLog.log.lck
logs.log
DeliveryApp.iml

## target folder at the top level of the project structue and paths and contents underneath it
target/
target/*
## target folder at any level of the project structue
**/target
/target